# Ignore all directories
*/

# Ignore these files
.Xauthority
.bash_history
.bash_logout
.python_history
.nvidia-settings-rc
.pulse-cookie
.steampath
.steampid

# Include configs
.config/*
!.config/

!.config/i3
!.config/polybar
!.config/screenlayout
!.config/picom

!.config/kitty
!.config/nvim

!.config/alsa

# Include files in config dir
!.config/iommu_groups.sh
