# Ignore all directories
*/

# Ignore these files
.Xauthority
.bash_history
.bash_logout
.python_history

# Include configs
.config/*
!.config/

!.config/i3
!.config/polybar
!.config/screenlayout
!.config/picom

!.config/kitty
!.config/nvim

!.config/alsa


